%h2 On March 30, 2010, Labatt announced it was closing Lakeport Brewery in Hamilton, putting 143 people out of work.
%p
  The reason for its decision, said Labatt's VP of corporate affairs, was to "improve operating efficiency".  Oddly, though,  
  Lakeport was turning a profit when it was selling beer for a dollar apiece. How inefficient could it be?
%p
  Labatt acquired Lakeport in 2007.  Many believe it was Labatt's intention to shut down its upstart competitor all along, 
  a belief reinforced by Labatt's scorched earth decision to remove all of the brewing equipment from
  the plant, ensuring that even if the building is sold no local competitor can replace Lakeport.

%br/

%h2 Labatt, we've got something to say about this decision.
%p
  Actually, we're going to sing it. To the tune of
  %strong 99 Bottles of Beer,
  here's how we feel about you:

#verses
  - verse_count = 99
  - @song.verses.each do |verse|
    .verse
      .line
        %p
          %small= "#{verse_count} bottles of beer on the wall, #{verse_count} bottles of beer,"
        %p= verse.line
      .singer
        %img{:src => verse.person.profile_image_url, :style => "vertical-align: middle; padding-right: 12px;"}
        = verse.person.name
      .spacer
    - verse_count -= 1

.spacer{:style => "height: 10px;"}

.callout
  / Although from the user's perspective we are requesting a "username", we'll use Twitter's nomenclature
  / for this field and call it screen_name in our code instead. By using the same names as the API you 
  / interact with, you decrease the cognitive overhead of dealing with the API.
  %form#sing{:action => "/sing/#{@song.id}", :method => "post"}
    %h2= "#{verse_count} bottles of beer on the wall, #{verse_count} bottles of beer,"
    %input.hint{:name => "line", :type => "text", :title => "Buy the company, sell it off, screw over some regular folk.", :style => "font-size: 22px; width: 99%;"}
    %br/
    %br/
    %br/
    %big Your Twitter username:
    &nbsp;
    %input{:name => "screen_name", :type => "text"}
    &nbsp;
    %input{:type => "submit", :value => "Sing It!"}

.spacer{:style => "height: 20px;"}

.callout
  %h2 Boycott Labatt
  %p
    Labatt brews Blue, Kokanee, Lucky Lager, 50, Alexander Keith's, Bud and Bud Light.  You can find far better alternatives to each
    of these beers at the beer store.