%p
  On March 30, 2010, Labatt announced it was closing Lakeport Brewery in Hamilton, putting 143 people out of work.
  
%p
  We think that's BS.

#verses
  - verse_count = 99
  - @song.verses.each do |verse|
    .verse
      .line
        %p
          %small= "#{verse_count} bottles of beer on the wall, #{verse_count} bottles of beer,"
        %p= verse.line
      .singer
        %img{:src => verse.person.profile_image_url, :style => "vertical-align: middle; padding-right: 12px;"}
        = verse.person.name
      .spacer
    - verse_count -= 1

.spacer{:style => "height: 10px;"}

.callout
  / Although from the user's perspective we are requesting a "username", we'll use Twitter's nomenclature
  / for this field and call it screen_name in our code instead. By using the same names as the API you 
  / interact with, you decrease the cognitive overhead of dealing with the API.
  %form#sing{:action => "/sing/#{@song.id}", :method => "post"}
    %h2= "#{verse_count} bottles of beer on the wall, #{verse_count} bottles of beer,"
    %input.hint{:name => "line", :type => "text", :title => "Buy the company, sell it off, screw over some regular folk.", :style => "font-size: 22px; width: 99%;"}
    %br/
    %br/
    %br/
    %big Your Twitter username:
    &nbsp;
    %input{:name => "screen_name", :type => "text"}
    &nbsp;
    %input{:type => "submit", :value => "Sing It!"}

.spacer